h1{
    text-align: center;
}

.container{
    /*background-color: rgb(225, 247, 236); */
    padding: 10px 0;
    transform: rotate(90deg);
}

.marker{
    width: 200px;
    height: 25px;
    margin: 10px auto;
}

.cap{
    width: 60px;
    height: 25px;
}

.sleeve{
    width: 110px;
    height: 25px;
    background-color: rgba(12, 14, 13, 0.5);
    border-left: 10px double rgba(5, 5, 5, 0.75) ;
}

.cap, .sleeve{
    display: inline-block;
}

.red{
    background: linear-gradient(rgb(122,74,14), rgb(240, 20, 5),rgb(162,27,27));
    box-shadow: 0px 0px 20px 0px rgba(83,14,14,0.8);
}

.green{
    background: linear-gradient(#55680D, #71F53E, #116C31);
    box-shadow: 0px 0px 20px 0px #3B7E20CC;
}

.blue{
    background: linear-gradient(hsl(186,76%,16%), hsl(223, 52%, 61%),  hsl(223, 50%, 28%));
    box-shadow: 0px 0px 20px 0px hsl(249, 72%, 37%);
}

.pink{
    background: linear-gradient(rgb(99, 11, 94), rgb(245,62,113),rgb(245, 7, 185));
    box-shadow: 0px 0px 20px 0px rgba(88, 1, 59, 0.8);
}

.orange{
    background: linear-gradient(rgb(129, 60, 3), rgb(231, 160, 27),rgb(121, 56, 3));
    box-shadow: 0px 0px 20px 0px rgba(248, 80, 1, 0.8);
}

